#!/bin/bash

isolate-check-environment --execute
echo 10000 > /proc/sys/kernel/sched_rr_timeslice_ms

mkdir -p ./testdata
mkdir -p ./testzone
export PATH=$PATH:./app:./bin

schedtool -a 0-0 -e miku --verbose -p 2 -b 10 --aggressive-update
